

.azeret-mono-original {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav Style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 10%;
    
}
nav ul li{
    list-style: none;
}
.nav-head-text{
    font-size: 28px;
    font-weight: 800;
    color-scheme: #0D1321;
}
.nav-btn{
    font-size: 20px;
    height: 57px;
    font-weight: 244px;
    padding: 17px 24px;
    border-radius: 8px;
    color: #0D1321;
    background-color: white;
    border-color: #0D1321;

}

/* Banner Part */

.banner-content{
    width: 1140px;
    text-align: center;
    margin: 0 auto;
    padding: 2%;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
}
.banner-header-text{
    font-size: 48px;
}
.banner-btn{
    font-size: 20px;
    height: 65px;
    font-weight: 244px;
    padding: 17px 24px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #000000;
    border-color: #0D1321;
}
.banner-text{
    font-size: 16px;
}

/* Development Part */

.development{
    width: 1140px;
    margin: 74px auto;
    background-color: #0d132113;
    padding: 80px 97px;
    border-radius: 16px;
    
}
.dev-artical{
    text-align: center;
    
}
.dev-art-head{
    font-size: 32px;
}
.dev-section-1{
    display: flex;
    margin: 32px;
    padding: 48px;
    background-image: linear-gradient(to left, #0d132107,#ffffff );
    justify-content: space-between;
    border-radius: 16px;
}
.dev-section-2{
    display: flex;
    margin: 32px;
    padding: 48px;
    background-image: linear-gradient(to right, #0d132107,#ffffff );
    justify-content: space-between;
    border-radius: 16px;
}
.dev-section-3{
    display: flex;
    margin: 32px;
    padding: 48px;
    background-image: linear-gradient(to left, #0d132107,#ffffff );
    justify-content: space-between;
    border-radius: 16px;
}
.dev-section-half{
    width: 45%;
}
.dev-sec-head{
    font-size: 24px;
}
.dev-sec-btn{
    font-size: 20px;
    height: 47px;
    font-weight: 171px;
    padding: 0 20px;
    color: #0D1321;
    background-color: white;
    border-color: #0D1321;
    margin-top: 32px;
}

/* Inspiration Part */

.inspiration{
    width: 1140px;
    margin: 74px auto;
    padding: 0px 97px;
    
    
}
.video{
    width: 100%;
    height: 614px;
    border: 1px solid #0d132141;
    padding: 32px;
    border-radius: 16px;
    margin: 48px auto;
    

  
}